####################################################################
###################### Backend settings ############################

##### URI to MongoDB Atlas Deployment
databaseURI: "mongodb+srv://USER:PASS@SOMETHING.mongodb.net/DATABASE?w=majority"
ARN: ""
AWS: ""
KEY: ""



####################################################################
###################### Server settings #############################

##### Listen on port
port: 8888

##### Listen on address (default: all), specifies the address/hostname the server listens. 
# Currently, the server does _not_ support ipv6.
address: ""

enableTLS: true
validateClientCert: true
serverTLSCAFile: ca.pem
serverTLSPEMFile: mongod_aes_pass_qwerty.pem
serverTLSPEMKeyPass: qwerty
