MONGODB_ATLAS_URI=mongodb+srv://USER:PASS@fHOST.mongodb.net/test?retryWrites=true&w=majority
MONGODB_KEY_VAULT_DB=goencrypt
MONGODB_KEY_VAULT_COLL=dk

AWS_KEY=abc123abc123
AWS_SECRET_ACCESS_KEY=abc123abc123abc123abc123abc123abc123
AWS_KMS_REGION=us-east-1
AWS_KMS_ARN_ROLE=arn:aws:kms:us-east-1:NUMBER:key/abc123abc123
AWS_KMS_ENDPOINT=kms.us-east-1.amazonaws.com:443